body {
    background-color: #27221c;    
}

main {
    background-color: #2C733B;
    height: 50vh;
    width: 35vw;
    margin: auto;
    margin-top: 10%;
    border-radius: 8px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-areas: 
        "title title title title" 
        "work-setting work-setting break-setting break-setting" 
        "clock-header clock-header clock clock"
        "play pause stop reset";
    justify-items: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #C19861;
}

#title {
    grid-area: title;
    color: tomato;
    margin: 0;
    font-size: 3vw;
}

#work-setting {
    grid-area: work-setting;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        ". work-up" 
        "work-header work-value" 
        ". work-down";
    justify-items: center;
    align-items: center;
}
#work-up {grid-area: work-up;}
#work-header {
    grid-area: work-header;
    font-size: 2vw;
}
#work-value {
    grid-area: work-value;
    font-size: 3vw;
    color: white;
}
#work-down {grid-area: work-down;}

#break-setting {
    grid-area: break-setting;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
        ". break-up" 
        "break-header break-value" 
        ". break-down";
    justify-items: center;
    align-items: center;
}
#break-up {grid-area: break-up;}
#break-header {
    grid-area: break-header;
    font-size: 2vw;
}
#break-value {
    grid-area: break-value;
    font-size: 3vw;
    color: white;
}
#break-down {grid-area: break-down;}

/* .center {
    display:flex;justify-content:center;align-items:center;
} */

button {
    background-color: transparent;
    border: 0px solid tomato;
    border-radius: 4px;

    font-size: 1.5vw;
    color: tomato;
}

#play {grid-area: play;}
#pause {grid-area: pause;}
#stop {grid-area: stop;}
#reset {grid-area: reset;}

#clock-header {
    grid-area: clock-header;
    font-size: 3vw;
}

#clock {
    grid-area: clock;
    font-size: 4vw;
    color: white;
}